.manage-works {
    background-image: url("https://templates.hibootstrap.com/constik/default/assets/img/service-bg-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 7vh;
}